<h1><%= @student.first_name%> <%= @student.last_name%></h1>

<%if  @student.active == true %>
     "This student is currently active."This student is currently inactive." 
 <%else %>
  "This student is currently active."This student is currently inactive." 
<%end%>
 