<% active = @student.active ? " | This student is currently active." : " | This student is currently inactive." %>
<h1><%= @student.first_name %> <%= @student.last_name + active %></h1>

<%= button_to "ACTIVE", action: "activate" %>
